body {
	background-color: #F2F2F2;
}
.BackHeader {
	background-color: #295C13;
	border-bottom: 5px solid #6DF533;
	color: white;
	margin-bottom: 2%;
}
textarea {
	width: 100%;
	padding: 2%;
}
input {
	float: right;
	background-color: #23520D !important;
	color: white;
	border: none;
	border-radius: 5px;
}
.Scroll {
	height: 180px;
	overflow: auto;
	overflow-x: hidden;
}
.boton {
	margin: 2% 0%;
	padding: 10px;
}
.fa-trash {
	float: right;
}
.Checkbox {
	float: left;
}
.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;	
}
.principal .formulario input[type=text].error {
	color: red;
}
.principal .formulario .boton:hover {
	border: 1px solid #fff;
}

ul {
	padding-left: 0px !important;
}
.tareas .lista {
	list-style: none;
}
.tareas .lista li {
	background-color: #EAFF5F;
	border: 1px solid #61E269;
	border-radius: 5px;
	margin: 5px;
	padding: 0% 1%;
}

.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 6px 0px;
	text-decoration: none;
}
.tareas .lista li a:hover {
	text-decoration: line-through;
}